<!-- navbar  -->
<section id="header">
  <nav class="navbar navbar-expand-lg navbar-dark navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand" href="/sobre"> <img class="logo" src="/imagens/logoBlessed.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarHeader">
        <ul class="navbar-nav ms-start">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/lancamentos">Lançamentos</a></li>
          <li class="nav-item"><a class="nav-link" href="/#series">Series</a></li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <%var logado=!usuario ? 'Login' :usuario.name%>
            <%if(!usuario){%>
              <li class="nav-item"><a class="nav-link" href="/perfil">Login</a></li>

              <%} else if(usuario){%>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%-usuario.nome%>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/perfil"
                        rel="external">Perfil</a></li>
                    <li><li><a class="dropdown-item" href="/perfil/edit"
                      rel="external">Editar perfil</a></li>
                  <li>
                      <hr class="dropdown-divider">
                     <li><a class="dropdown-item" href="/sair">Sair</a></li> 
                    </li>
                  </ul>
                </li>
                <% } %>

        </ul>
      </div>
  </nav>
  </div>
</section>