body{
  background-color: #141414;
}

.main{
    margin-top: 2.5em;
    display: flex;
    justify-content: center;
    color:white;
    flex-direction: row;
}


.icone{
  background-color: blueviolet;
  width: 10vw;
  height: 10vw;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-default{
  font-size:8rem;
}

.editInput{
width: 100%;
margin-bottom: 20px;
padding: 5px;
background-color: #807f7faf;
border: none;
color:#f4f4f4;
border-radius: 2px;
padding-left: 8px;
}

.container-button{
  margin-top: 20px;
  display: inline;
}



.formButton{
  margin-left: 5px;
  font-size: 20px;
  padding:7px 20px;

}

.buttonCancelar{
  background-color: transparent;
  color: gray;
  border: solid 1px gray;
  display: inline;
  position:absolute;
  left: 125px;
  top: -46px;
  margin:0;
}

.cancelForm{
  position: relative;
  display: inline;
}

.buttonSalvar{
  background-color: white;
  color:black;
  border:1px solid transparent;
}

.buttonCancelar:hover{
  border-color:#E50914;
  color:#E50914;
}

.buttonSalvar:hover{
background-color: green;
color:white;
}


.edit-img{
padding: 5px;
border: solid white 0.5px;
border-radius: 25px;
position:absolute;
z-index: 9;
bottom: 10px;
right: 10px;
}

.icone:hover .edit-img{
  opacity: 0.5;
}

label{
  font-weight:700;
}

.social-media>div{
  width:100%;
}

.social-media>div:first-child{
  margin-right: 20px;
}

.social-media{
  display: flex;
  width:100%
}

#bioInput{
  min-height: 150px;
}

::placeholder{
  color:#363636
}

a{
  text-decoration:none;
  color:#f8f8f8
}

a:hover{
  text-decoration:none;
  color:#f8f8f8
}

/* Edit img */
.editIconHeader{
  display: flex;
  justify-content:space-between
}

.editIconHeader>div{
  display: flex;
  align-items:center
}

.editIconHeader>div>*:first-child{
margin-right:15px
}

.iconeEdit{
  width: 90px;
  height: 90px;
  background-color: blueviolet;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-defaultEdit{
  font-size:3em;
}

.back-arrow{
  font-size:35px;
}

.selectIcon{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  gap: 25px;
 justify-content: center
}

.iconEditShow{
  width:150px;
  height: 150px;
  border-radius:5px;
}

.iconEditShow:hover{
 border:solid 2px #6320EE;
 cursor: pointer;
}

.backButton:hover{
opacity:0.5;
color:#ffff;
}

.submitButton{
  all:unset;
}

@media (max-width:600px) {

  .icone{
   width:20vw;
   height:20vw;
  }

   .row{
    justify-content: center;
  }

  .icon-default{
    font-size:3rem;
  }
  .edit-img{
    font-size:8px;
  }


  }
