*{
    margin:0;
    padding:0;
}

body{
    background-color:#141414;
}


.userPerfil{
    display: flex;
    flex-direction: column;
    color:white;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
}

.btn-create{
    width: 45px;
    height: 45px;
    border-radius: 25px;
    background-color: #773de9;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn-create:hover{
    background-color: #6320EE;
}

.icon{
    width: 15rem;
    height: 15rem;
    border-radius: 125px;
    background-color: #6320EE ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-perfilEdit{
    font-size:25px;
    padding:5px;
    color:rgba(0, 0, 0, 0.705);
    border-radius: 10px;
    border: solid rgba(0, 0, 0, 0.705) 1px;
    visibility: hidden;
}

.icon-default{
    font-size:10rem;
}


.userPerfil > * {
    margin-bottom: 10px;
}

.userPerfil > div > a{
    text-decoration: none;
    color:#f4f4f4;
}

.userPerfil > div> a:hover{
    text-decoration:underline;
    color:#773de9;
}

.FollowButton{
    background:transparent;
    border: solid 1px gray;
    color:white;
    padding:5px;
    margin-top: 10px;
    border-radius:5px;
    width: 100%;
}

.Follow:hover{
    border: 1px solid green;
    color:green;
}

.Unfollow:hover{
    border: 1px solid red;
    color:red;
}

.followers>div>p{
    display: inline;
    color:#929292
}

.followers>div>i{
    color:#929292
}

.followers{
  display:flex;
  gap:5px;
  font-size:15px;
  margin: 20px 0;
}


.comentarios,.divWatchList{

    overflow:auto;
    display: flex;
    flex-direction: row;
}

.comentarios{
    min-height:275px;}

.divWatchList{
    min-height:240px;}

.comentarios h3{
    text-align: center;
    color:white;
}

.posterComentario{
    border-radius: 5px 5px 0 0;
    min-height:200px;
    width:133px;
}

#watchList{
    height:200px;
}


#watchList>.posterComentario{
    border-radius: 5px;
}

.lista-watchList{
    margin-top:20px;
}

.comentario{
    position: relative;
    background-color: #242424;
    margin:5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    max-height: 235px;
}

/* .btn-create{
    position:absolute;
    z-index: 9;
    color:white;
} */

.lista-header{
    color:white;
    display:flex;
    justify-content:space-between;
    margin-bottom: 5px;
    align-items: center;
}

.icones-poster{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:100%;
}

::-webkit-scrollbar{
    height:0.5em;
    width:0.3em;
}

::-webkit-scrollbar-track{
    background: #242424;
    border-radius: 100vw;
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb{
    background-color:#6520ee48;
    border-radius: 100vw;
    width:1em;
    border: solid 3px transparent;
}

.crud-icons > div, .poster-icon{
    width: 20px;
    height: 20px;
    border-radius: 8px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center
}

.crud-icons{
position:absolute;
right: 5px;
top:10px;
display: none;
flex-direction: column
}

.crud-icons > div > i{ 
    color:white;
    font-size: 10px;
}

.icon-edit{
    background-color: green;
}
.icon-delete{
    background-color: red;
}
.poster-icon{
    border-radius: 20px;
    font-size: 15px;
    background-color: transparent;
    color:#f4f4f4;
    border: solid 2px #f4f4f4;
    padding:10px;
    margin:5px;
}

.icon-link{
    border:none;
    font-size:18px;
}

.posterComentario:hover ~ .crud-icons,.crud-icons:hover{
    display: flex;
}

.crud-icons>div:hover > i, .poster-icon:hover{
    cursor:pointer;
    opacity: 0.7;
}

.main-container{
    height:84vh;
}

.checked{
    color:orange;
    margin:1px;
}

.fa-star{
    font-size:20px
}
.fa-star-o{
    font-size:18px
}

/* modal create */

.modal-body{
    display:flex;
    justify-content: space-between
}
.bodyField{
    width:50%;
    display:flex;
    align-items: center;
    flex-direction: column;
}

#filmeTitle,#inputComentario,#filmeTitleEdit,#inputComentarioEdit,#inputComentarioShow{
    width:80%;
    margin-top:5px;
}

#inputComentario,#inputComentarioEdit,#inputComentarioShow{
    height:100%
}

#createButton{
    background-color:white;
    display:flex;
    flex-direction:column;
}

.rating{
    display:flex;
}

.ui-front{
    z-index: 1056    !important;
 }

 .posterModal{
    width:105px;
    height:165px
 }

 .warningFilme{
    visibility: hidden;
    display: none;
    color:red;
    margin: 0;
    font-size: 10px;
}

.wrongMovie{
    visibility:visible !important;
    display: block;
}

 @media (max-width:600px) {
    .main-container{height:auto}
 

 .icon-default{
    font-size:3em;
 }

 .icon{
    width:5.5em;
    height:5.5em;
 }

 }

