<%- include('./header.ejs') %>
<body>
    <!-- navbar  -->
    <%- include('../navbar.ejs') %>
    <!-- Filmes -->
    <!-- CLICK -->
    <section id="filme1">
        <div class="container-fluid">
            <h1 class="titulo-section"> Adam Sandler</h1>
            <div class="row">
                <div class="col-lg-9 coluna-filmes">
                    <iframe class="trailers" width="100%" height="450px" src="https://www.youtube.com/embed/BAIwj9pSKrw"
                        title="Trailer Click legendado"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="info-filme">
                        <div class="detalhes_filme">
                            <h2 class="titulo_filme">Click</h2>
                            <div>
                            <span class="texto_filme_detalhes">2006</span><span class="texto_filme_detalhes">1h
                                47m</span><img src="imagens/icones/classificacao-livre.png" alt="classificacao livre"
                                class="btn" data-bs-toggle="tooltip" data-bs-placement="right"
                                title="Classificação Livre"></div>
                        </div>

                        <div class="rating_links">
                            <div>
                                <a href="https://tv.apple.com/br/movie/click-legendado/umc.cmc.4tvormzf1rv1gvqv1j043h9i3?action=play"
                                    target="_blank" rel="external"><img src="imagens/icones/apple-tv.jpg"
                                        alt="apple-tv   "></a>
                                <a href="https://www.primevideo.com/detail/0HX3CC57M63NWXIHBE5NH2SJ5F/ref=atv_dp_share_cu_r"
                                    target="_blank" rel="external"><img src="imagens/icones/amazon.png" alt="amazon"></a> 
                            </div>
                            <div class="rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span></div>
                        </div>
                    </div>

                    <ul class="nav-sinopse nav nav-pills">
                        <li class="nav-item">
                            <a data-bs-toggle="pill" class="nav-link active" href="#ClickSinopse">Sinopse</a></li>
                        <li class="nav-item">
                            <a data-bs-toggle="pill" class="nav-link" href="#ClickCritica">Critica</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="ClickSinopse" class="tab-pane container active">
                            <p class="texto_sinopse">Um arquiteto casado e com filhos está cada vez mais frustrado por
                                passar a maior parte de seu tempo trabalhando. Um dia, ele encontra um inventor
                                excêntrico que lhe dá um controle remoto universal, com capacidade de acelerar o tempo.
                                No início, ele usa o aparelho para acelerar qualquer momento tedioso, mas se dá conta de
                                que está acelerando o tempo demais e deixando de viver preciosos momentos em família.
                                Desesperado, ele procura o inventor para ajudá-lo a reverter o que fez. </p>
                        </div>
                        <div id="ClickCritica" class="tab-pane container fade">
                            <p class="texto_sinopse">Um clássico do nosso querido Adam, Click consegue despertar em nós todo tipo de emoção, o filme consegue aplicar o tipico clichê de valorizar o tempo e as pessoas ao nosso redor com maestria. A equipe Abençoados recomenda que todos seres humanos assistam esse filme ao menos uma vez na vida.<br> SELO ADAM SANDLER DE QUALIDADE </p>
                        </div>
                    </div>
                </div>

                <div class="filmes-sidebar col-lg-3">
                    <img class="img-fluid" src="imagens/posters/ClickPoster300.png" alt="Poster do filme Click">
                    <div class="div-info-adicional">
                        <ul class="nav-info nav nav-tabs nav-fill">
                        <li class="nav-item">
                            <a data-bs-toggle="tab" class="nav-link active" aria-current="page" href="#ClickElenco"><i class="fa-solid fa-video fa-2x"></i></a>
                        </li>
                        <li class="nav-item">
                            <a a data-bs-toggle="tab" class="nav-link" href="#ClickSpotify"><i class="fa-solid fa-music fa-2x"></i></a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="ClickElenco" class="elenco tab-pane container active">
                            <ul class="lista-elenco list-group">
                                <li class="list-group-item"><img class="icone-ator" src="imagens/adam/imagensAdam/adam.jpg"> Adam Sandler</li>
                                <li class="list-group-item"><img class="icone-ator" src="imagens/adam/click/kate.jpg">Kate Beckinsale</li>
                                <li class="list-group-item"><img class="icone-ator" src="imagens/adam/click/Christopher.jpg">Christopher Walken</li>
                                <li class="list-group-item"><img class="icone-ator" src="imagens/adam/click/Tatum.jpg">Tatum McCann</li>
                                <li class="list-group-item"><img class="icone-ator" src="imagens/adam/click/Joseph.jpg">Joseph Castanon</li>
                              </ul>
                        </div>
                        <div id="ClickSpotify" class="spotify tab-pane container fade">
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3ChaOPSbqG2nqyS0hQe47V?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        </div></div>
                    </div></div>
                </div>
            </div>
        </div>


    </section>
    <!-- COMO SE FOSSE A PRIMEIRA VEZ -->
    <section id="filme2">
        <div style="padding-bottom: 206px;" class="container-fluid">
            <div class="row">
                <div class="col-lg-9 coluna-filmes">
                    <iframe class="trailers" width="100%" height="450px" src="https://www.youtube.com/embed/x6A_3Y9ML70"
                        title="Trailer como se fosse a primeira vez legendado"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="info-filme">
                        <div class="detalhes_filme titulo">
                            <h2 class="titulo_filme">Como se fosse a primeira vez</h2>
                            <div>
                            <span class="texto_filme_detalhes">2004</span><span class="texto_filme_detalhes">1h
                                39m</span><img src="imagens/icones/classificacao-livre.png" alt="classificacao livre"
                                class="btn" data-bs-toggle="tooltip" data-bs-placement="right"
                                title="Classificação Livre"></div>
                        </div>

                        <div class="rating_links">
                            <div>
                                <a href="https://www.netflix.com/br/title/60033311"
                                target="_blank"rel="external"><img src="imagens/icones/Netflix.jpg" alt="Netflix"></a>
                                <a href="https://www.primevideo.com/detail/0O70CDUUTAK9WEJL0L29YW0BEN/ref=atv_dp_share_cu_r"
                                target="_blank"rel="external"><img src="imagens/icones/amazon.png" alt="amazon prime-video"></a>
                            </div>
                            <div class="rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span></div>
                        </div>
                    </div>

                    <ul class="nav-sinopse nav nav-pills">
                        <li class="nav-item">
                            <a data-bs-toggle="pill" class="nav-link active" href="#sinopsePrimeira">Sinopse</a></li>
                        <li class="nav-item">
                            <a data-bs-toggle="pill" class="nav-link" href="#criticaPrimeira">Critica</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="sinopsePrimeira" class="tab-pane container active">
                            <p class="texto_sinopse">Henry Roth é um veterinário paquerador, que vive no Havaí, e famoso pelo grande número de turistas que conquista. Seu novo alvo é Lucy Whitmore, que mora no local e por quem Henry se apaixona perdidamente. Mas Lucy sofre de falta de memória de curto prazo e, por isso, ela rapidamente se esquece de fatos que acabaram de acontecer. Assim, Henry é obrigado a conquistá-la, dia após dia, para ficar ao seu lado. </p>
                        </div>
                        <div id="criticaPrimeira" class="tab-pane container fade">
                            <p class="texto_sinopse">Um dos filmes mais lindos de todos os tempos, Como se fosse a primeira vez mistura humor e romance com aquela precisão que só o Adam Sandler consegue, um filme que nunca perde a graça, ideal para assistir naquele fim de domingo e aproveitar o lado bom da vida.<br> SELO ADAM SANDLER DE QUALIDADE  </p>
                        </div>
                    </div>
                </div>

                <div class="filmes-sidebar col-lg-3">
                    <img class="img-fluid" src="imagens/posters/comoSeFosse300.png" alt="Poster do filme Como se fosse a primeira vez">
                    <div class="div-info-adicional">
                        <ul class="nav-info nav nav-tabs nav-fill">
                        <li class="nav-item">
                            <a data-bs-toggle="tab" class="nav-link active" aria-current="page" href="#PrimeiraElenco"><i class="fa-solid fa-video fa-2x"></i></a>
                        </li>
                        <li class="nav-item">
                            <a a data-bs-toggle="tab" class="nav-link" href="#PrimeiraSpotify"><i class="fa-solid fa-music fa-2x"></i></a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="PrimeiraElenco" class="elenco tab-pane container active">
                            <ul class="lista-elenco list-group">
                                <li class="list-group-item"><img class="icone-ator" src="imagens/adam/imagensAdam/adam.jpg"> Adam Sandler</li>
                                <li class="list-group-item"><img class="icone-ator" src="imagens/adam/comoSeFosse/Drew.png">Drew Barrymore</li>
                                <li class="list-group-item"><img class="icone-ator" src="imagens/adam/comoSeFosse/Rob.png">Rob Schneider</li>
                                <li class="list-group-item"><img class="icone-ator" src="imagens/adam/comoSeFosse/Blake.png">Blake Clark</li>
                                <li class="list-group-item"><img class="icone-ator" src="imagens/adam/comoSeFosse/Sean.png">Sean Astin</li>
                              </ul>
                        </div>
                        <div id="PrimeiraSpotify" class="spotify tab-pane container fade">
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1z3jQW1XqMcMb7sipJiftR?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        </div></div>
                    </div></div>
                </div>
            </div>
        </div>
    </section>
     <!-- UM FAZ DE CONTA QUE ACONTECE -->
     <section id="filme3">
        <div style="padding-bottom: 206px;" class="container-fluid">
            <div class="row">
                <div class="col-lg-9 coluna-filmes">
                    <iframe class="trailers" width="100%" height="450px" src="https://www.youtube.com/embed/RGLQ54CBfO8"
                        title="Trailer como se fosse a primeira vez legendado"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="info-filme">
                        <div class="detalhes_filme titulo">
                            <h2 class="titulo_filme">Um faz de conta que acontece</h2>
                            <div>
                            <span class="texto_filme_detalhes">2008</span><span class="texto_filme_detalhes">1h
                                39m</span><img src="imagens/icones/classificacao-livre.png" alt="classificacao livre"
                                class="btn" data-bs-toggle="tooltip" data-bs-placement="right"
                                title="Classificação Livre"></div>
                        </div>

                        <div class="rating_links">
                            <div>
                                <a href="https://www.disneyplus.com/pt-br/movies/um-faz-de-conta-que-acontece/2yhb68hGaXZE"
                                target="_blank"rel="external"><img src="imagens/icones/Disney_Logo.jpg" alt="Disney"></a>

                            </div>
                            <div class="rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-o checked"></span></div>
                        </div>
                    </div>

                    <ul class="nav-sinopse nav nav-pills">
                        <li class="nav-item">
                            <a data-bs-toggle="pill" class="nav-link active" href="#sinopseBedTime">Sinopse</a></li>
                        <li class="nav-item">
                            <a data-bs-toggle="pill" class="nav-link" href="#criticaBedTime">Critica</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="sinopseBedTime" class="tab-pane container active">
                            <p class="texto_sinopse">Skeeter Bronson é o faz-tudo de um hotel. Misteriosamente, um dia as histórias que conta para que seus sobrinhos durmam tornam-se realidade. Ele logo tenta se aproveitar do ocorrido, criando histórias cada vez mais bizarras de forma que atendam aos seus desejos e aspirações. Porém as inesperadas contribuições de seus sobrinhos às histórias acaba por fazer com que ele perca o controle sobre elas.</p>
                        </div>
                        <div id="criticaBedTime" class="tab-pane container fade">
                            <p class="texto_sinopse">Mais uma das belas obras de Adam Sandler, Um faz de conta que acontece é o tipico filme do nosso querido Adam sendo ele mesmo, tipico filme de sessão da tarde que você assiste varias vezes e não enjooa.<br> SELO ADAM SANDLER DE QUALIDADE </p>
                        </div>
                    </div>
                </div>

                <div class="filmes-sidebar col-lg-3">
                    <img class="img-fluid" src="imagens/posters/UmFazDeContaPoster300.jpg" alt="Poster do filme Como se fosse a primeira vez">
                    <div class="div-info-adicional">
                        <ul class="nav-info nav nav-tabs nav-fill">
                        <li class="nav-item">
                            <a data-bs-toggle="tab" class="nav-link active" aria-current="page" href="#BedTimeElenco"><i class="fa-solid fa-video fa-2x"></i></a>
                        </li>
                        <li class="nav-item">
                            <a a data-bs-toggle="tab" class="nav-link" href="#BedTimeSpotify"><i class="fa-solid fa-music fa-2x"></i></a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="BedTimeElenco" class="elenco tab-pane container active">
                            <ul class="lista-elenco list-group">
                                <li class="list-group-item"><img class="icone-ator" src="imagens/adam/imagensAdam/adam.jpg"> Adam Sandler</li>
                                <li class="list-group-item"><img class="icone-ator" src="imagens/adam/bedTime/Courteney Cox.jpg">Courteney Cox</li>
                                <li class="list-group-item"><img class="icone-ator" src="imagens/adam/bedTime/Keri Russell.jpg">Keri Russell</li>
                                <li class="list-group-item"><img class="icone-ator" src="imagens/adam/bedTime/Russell Brand.jpg">Russell Brand</li>
                                <li class="list-group-item"><img class="icone-ator" src="imagens/adam/bedTime/Teresa Palmer.jpg">Teresa Palmer</li>
                              </ul>
                        </div>
                        <div id="BedTimeSpotify" class="spotify tab-pane container fade">
                            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/2ABZHpP0JtsjIoG9cPQ2TM?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        </div></div>
                    </div></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <%- include('../footer.ejs') %>
</body>


</html>