<%- include('./header.ejs') %>

<body>
    <!-- navbar  -->
    <%- include('../navbar.ejs') %>
    <!-- Filmes -->
    <!-- Para todos os garotos:Agora e para sempre -->
    <section id="filme1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 coluna-filmes">
                    <iframe class="trailers" width="100%" height="450px" src="https://www.youtube.com/embed/wwaPEbdu6o4"
                        title="Trailer Para todos os garotos:Agora e para sempre legendado"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="info-filme">
                        <div class="detalhes_filme">
                            <h2 class="titulo_filme">Para todos os garotos: Agora e para sempre</h2>
                            <div>
                                <span class="texto_filme_detalhes">2021</span><span class="texto_filme_detalhes">1h
                                    55m</span><img src="imagens/icones/classificacao-12.png" alt="classificacao 12 anos"
                                    class="btn" data-bs-toggle="tooltip" data-bs-placement="right"
                                    title="Classificação 12 anos"></div>
                        </div>

                        <div class="rating_links">
                            <div>
                                <a href="https://www.netflix.com/br/title/81040397?source=35" target="_blank"
                                    rel="external"><img src="imagens/icones/Netflix.jpg" alt="netflix"></a>
                            </div>
                            <div class="rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span></div>
                        </div>
                    </div>

                    <ul class="nav-sinopse nav nav-pills">
                        <li class="nav-item">
                            <a data-bs-toggle="pill" class="nav-link active" href="#GarotosSinopse">Sinopse</a></li>
                        <li class="nav-item">
                            <a data-bs-toggle="pill" class="nav-link" href="#GarotosCritica">Critica</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="GarotosSinopse" class="tab-pane container active">
                            <p class="texto_sinopse"> Lara Jean está bastante ansiosa em seu último ano do ensino médio
                                para estudar junto com seu namorado, Peter, na Universidade da Virgínia. Peter foi
                                aceito anteriormente ao ganhar uma bolsa de estudos devido à prática de esportes. Quando
                                as cartas de universidade chegam, Lara Jean descobre que foi rejeitada.</p>
                        </div>
                        <div id="GarotosCritica" class="tab-pane container fade">
                            <p class="texto_sinopse">O tipico filme para adolescentes de 12 anos,
                                Para todos os garotos:Agora e para sempre, conta o desfecho de uma linda história(um
                                tanto quanto clichê) de amadurecimento e de amor, ideal para você que está procurando um
                                filme leve e feliz para lembrar que no final tudo sempre fica bem (pelo menos nos
                                filmes) </p>
                        </div>
                    </div>
                </div>

                <div class="filmes-sidebar col-lg-3">
                    <img class="img-fluid" src="imagens/cliches/tdsGarotos/todosOsGarotos300.png"
                        alt="Poster do filme para todos os garotos">
                    <div class="div-info-adicional">
                        <ul class="nav-info nav nav-tabs nav-fill">
                            <li class="nav-item">
                                <a data-bs-toggle="tab" class="nav-link active" aria-current="page"
                                    href="#GarotosElenco"><i class="fa-solid fa-video fa-2x"></i></a>
                            </li>
                            <li class="nav-item">
                                <a a data-bs-toggle="tab" class="nav-link" href="#GarotosSpotify">
                                    <i class="fa-solid fa-music fa-2x"></i></a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="GarotosElenco" class="elenco tab-pane container active">
                                <ul class="lista-elenco list-group">
                                    <li class="list-group-item"><img class="icone-ator" src="imagens/cliches/tdsGarotos/lana.png">Lana
                                        Condor</li>
                                    <li class="list-group-item"><img class="icone-ator" src="imagens/cliches/tdsGarotos/noah.png">Noah
                                        Centineo</li>
                                    <li class="list-group-item"><img class="icone-ator" src="imagens/cliches/tdsGarotos/Anna.png">Anna
                                        Cathcart</li>
                                    <li class="list-group-item"><img class="icone-ator" src="imagens/cliches/tdsGarotos/John.png">John
                                        Corbett</li>
                                    <li class="list-group-item"><img class="icone-ator"
                                            src="imagens/cliches/tdsGarotos/Madeleine.png">Madeleine Arthur</li>
                                </ul>
                            </div>
                            <div id="GarotosSpotify" class="spotify tab-pane container fade">
                                <iframe style="border-radius:12px"
                                    src="https://open.spotify.com/embed/album/35SXwj3IksuJcEbBckg2GT?utm_source=generator&theme=0"
                                    width="100%" height="380" frameBorder="0" allowfullscreen=""
                                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>


    </section>
    <!-- A Culpa é da estrelas-->
    <section id="filme2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 coluna-filmes">
                    <iframe class="trailers" width="100%" height="450px" src="https://www.youtube.com/embed/khMc449NHgc"
                        title="Trailer a culpa é das estrelas legendado"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="info-filme">
                        <div class="detalhes_filme titulo">
                            <h2 class="titulo_filme">A Culpa É Das Estrelas</h2>
                            <div>
                                <span class="texto_filme_detalhes">2014</span><span class="texto_filme_detalhes">2h
                                    06m</span><img src="imagens/icones/classificacao-12.png" alt="classificacao 12 anos"
                                    class="btn" data-bs-toggle="tooltip" data-bs-placement="right"
                                    title="Classificação 12 anos"></div>
                        </div>

                        <div class="rating_links">
                            <div>
                                <a href="https://www.disneyplus.com/pt-br/movies/a-culpa-e-das-estrelas-versao-estendida/54mG9tD7cU2q"
                                    target="_blank" rel="external"><img src="imagens/icones/Disney_Logo.jpg"
                                        alt="Disney"></a>
                            </div>
                            <div class="rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o  checked"></span></div>
                        </div>
                    </div>

                    <ul class="nav-sinopse nav nav-pills">
                        <li class="nav-item">
                            <a data-bs-toggle="pill" class="nav-link active" href="#EstrelasSinopse">Sinopse</a></li>
                        <li class="nav-item">
                            <a data-bs-toggle="pill" class="nav-link" href="#EstrelasCritica">Critica</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="EstrelasSinopse" class="tab-pane container active">
                            <p class="texto_sinopse">Hazel Grace Lancaster e Augustus Waters são dois adolescentes que
                                se conhecem em um grupo de apoio para pacientes com câncer. Por causa da doença, Hazel
                                sempre descartou a ideia de se envolver amorosamente, mas acaba cedendo ao se apaixonar
                                por Augustus. Juntos, eles viajam para Amsterdã, onde embarcam em uma jornada
                                inesquecível.</p>
                        </div>
                        <div id="EstrelasCritica" class="tab-pane container fade">
                            <p class="texto_sinopse">Um filme feito para todas as idades, a culpa das estrelas nos
                                mostras que a vida é curta e deve ser vivida ao maximo, viver é aceitar os riscos e não
                                deixar o medo te impedir de ser feliz. Um filme lindo, com personagens cativantes e uma
                                historia e cheio de reviravoltas. </p>
                        </div>
                    </div>
                </div>

                <div class="filmes-sidebar col-lg-3">
                    <img class="img-fluid" src="imagens/cliches/Estrelas/estrelasPoster300.jpg"
                        alt="Poster do filme a culpa é das estrelas">
                    <div class="div-info-adicional">
                        <ul class="nav-info nav nav-tabs nav-fill">
                            <li class="nav-item">
                                <a data-bs-toggle="tab" class="nav-link active" aria-current="page"
                                    href="#EstrelasElenco"><i class="fa-solid fa-video fa-2x"></i></a>
                            </li>
                            <li class="nav-item">
                                <a a data-bs-toggle="tab" class="nav-link" href="#EstrelasSpotify"><i
                                    class="fa-solid fa-music fa-2x"></i></a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="EstrelasElenco" class="elenco tab-pane container active">
                                <ul class="lista-elenco list-group">
                                    <li class="list-group-item"><img class="icone-ator"
                                            src="imagens/cliches/Estrelas/Shailene woodley.jpg">Shailene Woodley</li>
                                    <li class="list-group-item"><img class="icone-ator"
                                            src="imagens/cliches/Estrelas/Ansel Elgort.jpg">Ansel Elgort</li>
                                    <li class="list-group-item"><img class="icone-ator" src="imagens/cliches/Estrelas/Nat Wolff.jpg">Nat
                                        Wolff</li>
                                    <li class="list-group-item"><img class="icone-ator"
                                            src="imagens/cliches/Estrelas/Laura Dern.jpg">Laura Dern</li>
                                    <li class="list-group-item"><img class="icone-ator"
                                            src="imagens/cliches/Estrelas/Willem Dafoe.jpg">Willem Dafoe</li>
                                </ul>
                            </div>
                            <div id="EstrelasSpotify" class="spotify tab-pane container fade">
                                <iframe style="border-radius:12px"
                                    src="https://open.spotify.com/embed/album/7bXOViTvx6EHXuYFuI2yfj?utm_source=generator&theme=0"
                                    width="100%" height="380" frameBorder="0" allowfullscreen=""
                                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>


    </section>
    <!-- Five Feet Apart-->
    <section id="filme3">
        <div style="padding-bottom: 206px;" class="container-fluid">
            <div class="row">
                <div class="col-lg-9 coluna-filmes">
                    <iframe class="trailers" width="100%" height="450px" src="https://www.youtube.com/embed/EbzvDk-bQM4"
                        title="Trailer a 5 passos de você legendado"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="info-filme">
                        <div class="detalhes_filme titulo">
                            <h2 class="titulo_filme">A Cinco Passos de Você</h2>
                            <div>
                                <span class="texto_filme_detalhes">2019</span><span class="texto_filme_detalhes">1h
                                    57m</span><img src="imagens/icones/classificacao-12.png" alt="classificacao 12 anos"
                                    class="btn" data-bs-toggle="tooltip" data-bs-placement="right"
                                    title="Classificação 12 anos"></div>
                        </div>

                        <div class="rating_links">
                            <div>
                                <a href="https://globoplay.globo.com/a-cinco-passos-de-voce/t/tTyzLWcJx6/"
                                    target="_blank" rel="external"><img src="imagens/icones/globo.png" alt="Globo"></a>
                                <a href="https://www.youtube.com/watch?v=uPIlqY5cwnc" target="_blank"
                                    rel="external"><img src="imagens/icones/youtube.png" alt="youtube"></a>
                            </div>
                            <div class="rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-o  checked"></span></div>
                        </div>
                    </div>

                    <ul class="nav-sinopse nav nav-pills">
                        <li class="nav-item">
                            <a data-bs-toggle="pill" class="nav-link active" href="#FiveFeetSinopse">Sinopse</a></li>
                        <li class="nav-item">
                            <a data-bs-toggle="pill" class="nav-link" href="#FiveFeetCritica">Critica</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="FiveFeetSinopse" class="tab-pane container active">
                            <p class="texto_sinopse">Stella Grant, aos dezesseis anos de idade, é diferente da maior parte dos adolescentes: devido a uma fibrose cística, ela passa muito tempo no hospital, entre tratamentos e acompanhamento médico. Um dia, conhece Will Newman , garoto que sofre da mesma doença que ela. A atração é imediata, porém os dois são obrigados a manter distância um do outro por questões de saúde. Enquanto Stella pensa em quebrar as regras e se aproximar do garoto da sua vida, Will começa a se rebelar contra o sistema e recusar o rigoroso tratamento.</p>
                        </div>
                        <div id="FiveFeetCritica" class="tab-pane container fade">
                            <p class="texto_sinopse">É um Romeu e Julieta de hospital, um bom filme.</p>
                        </div>
                    </div>
                </div>

                <div class="filmes-sidebar col-lg-3">
                    <img class="img-fluid" src="imagens/cliches/5Feet/FiveFeetPoster300.jpg"
                        alt="Poster do filme a cinco passos de você">
                    <div class="div-info-adicional">
                        <ul class="nav-info nav nav-tabs nav-fill">
                            <li class="nav-item">
                                <a data-bs-toggle="tab" class="nav-link active" aria-current="page"
                                    href="#FiveFeetElenco"><i class="fa-solid fa-video fa-2x"></i></a>
                            </li>
                            <li class="nav-item">
                                <a a data-bs-toggle="tab" class="nav-link" href="#FiveFeetSpotify"><i
                                    class="fa-solid fa-music fa-2x"></i></a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="FiveFeetElenco" class="elenco tab-pane container active">
                                <ul class="lista-elenco list-group">
                                    <li class="list-group-item"><img class="icone-ator"
                                            src="imagens/cliches/5Feet/Cole Sprouse.jpg">Cole Sprouse</li>
                                    <li class="list-group-item"><img class="icone-ator" src="imagens/cliches/5Feet/Haley Lu.png">Haley
                                        Lu</li>
                                    <li class="list-group-item"><img class="icone-ator"
                                            src="imagens/cliches/5Feet/Moises Arias.jpg">Moises Arias</li>
                                    <li class="list-group-item"><img class="icone-ator"
                                            src="imagens/cliches/5Feet/Parminder Nagra.jpg">Parminder Nagra</li>
                                    <li class="list-group-item"><img class="icone-ator"
                                            src="imagens/cliches/5Feet/Kimberly Hebert.jpg">Kimberly Hebert</li>
                                </ul>
                            </div>
                            <div id="FiveFeetSpotify" class="spotify tab-pane container fade">
                                <iframe style="border-radius:12px"
                                    src="https://open.spotify.com/embed/playlist/0RcyeCOzxkdWDI9N0bwom3?utm_source=generator&theme=0"
                                    width="100%" height="380" frameBorder="0" allowfullscreen=""
                                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>


    </section>
    <!-- Footer -->
    <%- include('../footer.ejs') %>
</body>


</html>

