<!--   Modal Create -->
<div class="modal fade" id="modalShow" tabindex="-1" aria-labelledby="modalCreateLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title  fs-5" id="showFilmeTitle">title movie</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
            <div class="bodyField">
              <textarea disabled id="inputComentarioShow"   name="comentario[review]">teste</textarea>
            </div>
            <div class="bodyField">
              <img class='posterModal' id='posterModalShow' src="imagens/posters/atypicalPoster300.jpg">
              <input id="inputNotaShow" type="hidden"  value=''/>
              <div class='rating'>
                <span id='readStars1' class="fa fa-star-o checked ratingStars"></span>
                <span id='readStars2' class="fa fa-star-o checked ratingStars"></span>
                <span id='readStars3' class="fa fa-star-o checked ratingStars"></span>
                <span id='readStars4' class="fa fa-star-o checked ratingStars"></span>
                <span id='readStars5' class="fa fa-star-o checked ratingStars"></span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
